@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager

@mixin respond-phone {
  @media (max-width: 600px){
    @content
  };
}


// breakpoint: phone, tab-port, tab-land, big-desktop
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px){
      @content
    };
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px){
      @content
    };
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px){
      @content
    };
  }
  @if $breakpoint == big-desktop {
    @media (max-width: 600px){
      @content
    };
  }
}
