@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager

@mixin respond-phone {
  @media (max-width: 600px){
    @content
  }
}


breakpoint: phone, tab-port, tab-land, big-screen
@mixin respond($breakpoint) {
  @if $breakpoint == phone {

  }
}
