.popup {
  background-color: rgba($color-grey-dark, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // display: inline-block;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s .2s;
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }
  }
  &__left {
    width: 33.333333%;
    display: table-cell;
    @include respond(tab-port) {
      display: flex;
      flex-direction: row;
      width: 50%;
    }
  }
  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &__img {
    width: 100%;
    display: block;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    @include respond(phone) {
      column-count: 1;
      line-height: normal;
    }
  }
  //open states
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.4rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }
    &:hover {
      color: $primary-color;
    }
  }
}