*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) { // width < 1200px
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) { // width < 900px
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) { 
    padding: 0;
  }
}

::selection {
  background-color: $primary-color;
  color: $color-white;
}