// Media query manager

// Order: Base + typography > general layout + grid > page layout > components

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager

// @mixin respond-phone {
//   @media (max-width: 600px){
//     @content
//   };
// }


// breakpoint: phone, tab-port, tab-land, big-desktop
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em){ //600px
      @content
    };
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em){  //900px
      @content
    };
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em){ //1200px
      @content
    };
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em){ //1800px
      @content
    };
  }
}
