.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.8)),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @media(min-resolution: 192dpi) and (min-width: 600px) {
    background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.8)),
    url(../img/hero.jpg);
  }
  @media (min-width: 2000px) {
    background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.8)),
    url(../img/hero.jpg);
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}


