.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @include respond(phone) {
    
  }
  &__logo-box {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
  }

  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}


