.navigation {
  &__checkbox {

  }
  &__button {
    background-color: $color-white;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($primary-color-light, $primary-color-dark);
    z-index: 1000;
  }
  &__nav {}
  &__list {

  }
  &__item {

  }
  &__link {

  }
}